<h1>About Me</h1>

<hr>

<p>Hailing originally from Idaho, this small technology-literate potato made his way down to the Silicon Slopes of Utah seeking education, and ended up finding a beautiful mountain home. I chose to pursue web development due to it's flexibility, wide job availability, and c'mon: who doesn't love the internet?</p>

<p>I love learning, and I approach all projects with the same can-do attitude that I apply to all aspects of my life. I work well with others, and I love helping in anyway that I can. I put this portfolio together so that you, potential employer (and Mom-- Hi!), will browse on my various projects and activity through my time developing and see if we make a match! So, go on-- go browse!  </p>
