<h1>Let's collaborate!</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Home Base</h3>

    <p>Salt Lake City, Utah</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "8016364032" %></p>

    <h3>Email</h3>

    <p><a href="mailto:hightaylor@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193365.04859363835!2d-112.06057152239676!3d40.776783256544945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87523d9488d131ed%3A0x5b53b7a0484d31ca!2sSalt+Lake+City%2C+UT!5e0!3m2!1sen!2sus!4v1485467275434" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
