<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">I'm so happy to have you! Feel free to look around, don't forget to click below to learn about me.</p>
  <p class="lead"> (I mean, not to sound cocky, but I think I'm pretty cool.)</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
